version: '3.9'
services:
  discordtts:
    image: ghcr.io/yanorei32/discord-tts:latest@sha256:f2d27ecafeba8056e296d96dc73c2d42f2a55f48ff8228eeb20b01a76345bdf9

    hostname: discordtts
    container_name: discordtts${VARIANT:-}__discordtts

    restart: unless-stopped

    environment:
      PERSISTENT_PATH: /var/discordtts/state.json
      DISCORD_TOKEN: ${DISCORD_TOKEN}

    volumes:
      - type: bind
        source: ./discord-tts.tts.toml
        target: /etc/discord-tts.tts.toml

      - type: volume
        source: data
        target: /var/discordtts/

    networks:
      - discordtts_default

    deploy:
      resources:
        limits:
          memory: 512m

volumes:
  data:
    name: discordtts${VARIANT:-}__data

networks:
  discordtts_default:
    name: discordtts${VARIANT:-}__default
